.footer {
    background-color: rgb(0 1 4 / 80%);
    margin:auto
}
.footer__list {
    list-style: none;
    display: inline-block;
    margin-left: 82px;
    margin-top: 32px;
    max-width: 1000px;
    height: 110px;
    background-color: rgba(255, 255, 255, 0.00);
    position: relative;
    box-shadow: 2px 0px 5px 20px #414672,
        0px 1px 6px 36px #0E0930;
    border-radius: 30px;
}

.footer__listItem {
    display: inline-block;
    margin: 45px;
}